{% extends "admin/base_site.html" %}
{% load i18n static%}
{% load static %}


{% block content_title %}{% endblock %}


{% block content %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div id="content-main" class="grid grid-cols-1">
        <div class="grid grid-cols-2 my-5 gap-3">
            <a type="button" class='items-center justify-center rounded-md p-2 bg-teal-600 hover:bg-teal-400 text-center' href="{% url  'converter' %}">
                <span class="text-white hover:text-gray">Conversor de divisas</span>
            </a>
            <button type="button" class='items-center justify-center rounded-md p-2 text-white bg-blue-600 hover:bg-blue-400 hover:text-gray'>Cargar extracto</button>
        </div>
        <div class="border-solid border-2 border-slate-400 text-center mb-5 text-xl">
            <h1 class="text-teal-500">Recomendacion del dia:</h1>
            <p>
                {{ tip_of_day }}
            </p>
        </div>
        <div class="grid grid-cols-2 gap-5 mb-5 text-center">
            <div class="border-solid border-2 rounded-lg p-5 border-teal-400">
                <span class="text-lg text-teal-500">Proporcion gastos / facturas </span><br/>
                {% if not dashboard_data.donut  %}
                    <span >No hay datos para mostrar</span>
                {% else %}
                    <canvas id="donut-chart"></canvas>
                    <script>
                        const donut = document.getElementById("donut-chart")
                        var donut_data = {{ dashboard_data.donut|safe }};
                        new Chart(donut, {
                            type: 'doughnut',
                            data:donut_data
                            }
                        )
                    </script>
                {% endif %}
            </div>
            <div class="border-solid border-2 rounded-lg p-5 border-teal-400 ">
                <span class="text-lg text-teal-500"> Ingresos vs egresos en el mes </span><br/>
                {% if not dashboard_data.timeline  %}
                    <span>No hay datos para mostrar</span>
                {% else %}
                    <canvas id="timeline-chart" data={{ dashboard_data.timeline }}></canvas>
                    <script>
                        const timeline = document.getElementById("timeline-chart")
                        var timeline_data = {{ dashboard_data.timeline|safe }};
                        new Chart(timeline, {
                            type: 'line',
                            data:timeline_data
                        })
                    </script>
                {% endif %}
            </div>
        </div>
        <div class="grid grid-cols-2 gap-5 text-center">
            <div class="border-solid border-2 rounded-lg p-5 border-teal-400">
                <span class="text-lg text-teal-500"> Distribucion de gastos en la semana </span><br/>
                {% if not dashboard_data.scatter %}
                    <span>No hay datos para mostrar</span>
                {% else %}
                    <canvas id="scatter-chart"  data={{ dashboard_data.scatter }}></canvas>
                    <script>
                        const scatter = document.getElementById("scatter-chart")
                        var scatter_data = {{ dashboard_data.scatter|safe }};
                        new Chart(scatter, {
                            type: 'line',
                            data:scatter_data
                        })
                    </script>
                {% endif %}
            </div>
            <div class="border-solid border-2 rounded-lg p-5 border-teal-400">
                <span class="text-lg text-teal-500"> Pagos de facturas por dias </span><br/>
                {% if not dashboard_data.bar %}
                    <span>No hay datos para mostrar</span>
                {% else %}
                    <canvas id="bar-chart" data={{ dashboard_data.bar }}></canvas> 
                    <script> 
                        const bar = document.getElementById("bar-chart")
                        var bar_data = {{ dashboard_data.bar|safe }};
                        new Chart(bar, {
                            type: 'bar',
                            data:bar_data
                            }
                        )
                    </script> 
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}

